[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
numpy = "==1.16.2"
keras = "==2.1.2"
scipy = "*"
google-images-download = "*"
matplotlib = "*"
pandas = "*"
pillow = "==6.2.0"
tensorflow-gpu = "==1.15.2"

[requires]
python_version = "3.7"
